@use "/src/sass/abstracts/abstractsEntry" as e;
.web-dev-container {
  animation: container 0.3s ease-in;
  display: flex;
  // justify-content: center;
  // background-color: red;
  gap: 2rem;
  flex-wrap: wrap;
  // @media screen and (min-width:768px) {

  // }

  // @media screen and (min-width:768px) {

  // }
}
